
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 7px;
}


body{
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: #252525;
    color: #e7e7e7;
}

a{
    text-decoration: none;
}

p{
    padding: 1.6rem 0;
}

img{
    width: 100%;
    height: auto;
}

header{
    height: 46rem;
}

header .bg-image{
    position: absolute;
    background-image: url(images/yorker.jpg);
    background-size: cover;
    background-position: center;
    height: 46rem;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
}

header h1{
    padding: 12rem;
    padding-bottom: 0;
}

.btn{
    display: inline-block;
    background: #252525;
    color: whitesmoke;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: 0.5rem 0;
    transition: all 0.42s;
}

.btn:hover{
    background-color: white;
    color: #252525;
}

#section-a{
    background-color: #beb958;
    color: rgb(12, 12, 12);
    padding: 3.2rem 0;
}

#section-b{
    padding: 2rem;
}

#section-b ul{
    list-style: none;
}

#section-b li{
    background: #beb958;
    color: black;
    margin-bottom: 1.5rem;
}

.col-content{
    padding: 1.5rem;
}

#section-c{
    background-color: #e7e7e7;
    color: #252525;
    padding: 5rem;
}

#section-d .box{
    padding: 5rem;
}

#section-d .box{
    background-color: rgb(60, 0, 0);
}

footer{
    padding: 4rem;
    background: black;
}

footer a{
    color: deepskyblue;
}

@media screen and (min-width:800px) {
    html{
        font-size: 9px;
    }
}

@media screen and (min-width:1100px) {

    html{
        font-size: 11px;
    }

    #section-b li{
        width: 28%;
        margin: 1%;
        display: inline-block;
    }
    
}

.box{
    width: 50%;
    float: left;
}
